.work{
            background-color: black;
            color: yellow;
            margin: auto;
            padding: 10px 10px 10px 10px;
            width: 60%;
            text-align: center;
        }